

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
   input[type="date"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .parent-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: -450px;
  }

  .centered-div5 {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center; /* Optional: Center align content within the div */
    align-items: center;
  }


    .parent-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: -50px;
  }

  .centered-div1 {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
  }
.response{
   background-color: #fff;
   padding: 20px;
   margin-left: 10px;
   border-radius: 10px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 10px;
  position: relative;
  margin-top: -600px;
  float: right;
  margin-right: 20%;

}
    .parent-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 8%;
    margin-left: 63%;
    width: flex;
    position: absolute;
  }

.payment{
      display: flex;

    height: 50%;
    margin-top: 8%;
    margin-left: 43%;
    float: right;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: absolute;
}

